/* Fuente Digital 7 */
@font-face {
  font-family: 'Digital 7';
  src: url("../../fonts/digital_7/digital-7.ttf");
}

/* Fuente Poppins */
@font-face {
  font-family: 'Poppins-Bold';
  src: url("../../fonts/poppins/Poppins-Bold.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins-Bold';
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
}